each val in data 
    a(href='#')
        .match
            .match__details
                - var matchNumber = val.name.slice(val.name.length - 10, val.name.length)
                span.match__num=`IPL ${val.matchType} ${matchNumber}`
                span.date= val.date
                - var liveMatchStatus = val.status 
                if liveMatchStatus.includes("won") 
                    span.isStart(data-finish="finished")
                        .dot
                        | Finished 
                else if liveMatchStatus.includes("opt")
                    span.isStart(data-live="lived")
                        .dot 
                        | Live
                else if liveMatchStatus.includes("need")
                    span.isStart(data-live="lived")
                        .dot 
                        | Live
                else 
                    span.isStart(data-upcoming="notstarted")
                        .dot
                        | Upcoming
            .team__1
                .team__img
                    img(src=val.teamInfo[0].img, alt=val.teamInfo[0].shortname)
                .teamname
                    span=val.teamInfo[0].shortname
                    span Yet to start
            .team__2
                .team__img
                    img(src=val.teamInfo[1].img, alt=val.teamInfo[1].shortname)
                .teamname
                    span= val.teamInfo[1].shortname
                    span Yet to start
            .match__status
                span= val.status